$variants: ("primary", "secondary", "info", "danger", "success", "warning", "dark");


#action-container{
	cursor: pointer;
	transition: all 0.2s ease;

	color: var(--bs-secondary);
	border-color: var(--bs-secondary-border-subtle);
	&:hover{
		background-color: var(--bs-secondary-bg-subtle);
	}

	.title{
		font-size: inherit;
	}

	.action-icon{
		border-radius: 10px;
	}

	// .action-label{}

	&.primary{
		color: var(--bs-secondary);
		border-color: var(--bs-secondary-border-subtle);
		&:hover{
			background-color: var(--bs-secondary-bg-subtle);
		}
	}

	@each $variant in $variants{
		&.#{$variant}{
			color: var(--bs-#{$variant});
			border-color: var(--bs-#{$variant}-border-subtle);
			&:hover{
				background-color: var(--bs-#{$variant}-bg-subtle);
			}
		}
	}


    &.disabled{
		color: var(--bs-secondary);
		border-color: var(--bs-secondary-border-subtle);
        pointer-events: none;
        opacity: 0.5;
    }

	&:active{
  		transform: scale(0.98);
	}
}
