/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';


html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.cursor-default{
	cursor: default;
}

.cursor-pointer{
	cursor: pointer;
}
