<div class="container py-4">

    <div class="row align-items-end mb-4">
        <div class="col">
            <h3 class="mb-0">{{ noteOnly() ? '✏️ Diário' : '🏋️ Treino' }} </h3>
        </div>

        <div class="col d-flex justify-content-end">
            <button class="btn btn-outline-primary me-2" (click)="editMode.set(!editMode())">
                {{ editMode() ? '👁️ Visualizar' : '✏️ Editar' }}
            </button>
            <button class="btn btn-outline-primary" (click)="noteOnly.set(!noteOnly())">
                {{ !noteOnly() ? '✏️ Diário' : '🏋️ Exercícios' }}
            </button>
        </div>
    </div>

    <div class="row g-4">

        <!-- EXERCÍCIOS -->
         @if(!noteOnly()){
            <div class="col-md-6">
                <div class="card shadow-sm p-3">
                    <h5 class="mb-3">Exercícios</h5>
                    @for (ex of exercises(); track $index) {
                    <div class="border rounded p-2 mb-2">

                        @if (editMode()) {

                        <input class="form-control mb-1" placeholder="Ex: Supino" [(ngModel)]="ex.name">

                        <div class="d-flex gap-2">
                            <input type="number" class="form-control" [(ngModel)]="ex.value">

                            <select class="form-select" [(ngModel)]="ex.type">
                                <option value="reps">Reps</option>
                                <option value="time">Min</option>
                            </select>

                            <input type="number" class="form-control" placeholder="Séries" [(ngModel)]="ex.series">
                        </div>

                        <button class="btn btn-sm btn-danger mt-2" (click)="removeExercise($index)">
                            Remover
                        </button>

                        } @else {

                        <strong>{{ ex.name }}</strong><br>
                        {{ ex.value }} {{ ex.type === 'reps' ? 'reps' : 'min' }} • {{ ex.series }} séries

                        }

                    </div>
                    }

                    @if (editMode()) {
                        <button class="btn btn-success w-100" (click)="addExercise()">
                            + Adicionar
                        </button>
                    }
                </div>
            </div>
         }

        <!-- NOTAS -->
        <div class="col">
            <div class="card shadow-sm p-3 h-100">
                @if(!noteOnly()){
                    <h5 class="mb-3">Notas</h5>
                }
                @if (editMode()) {
                    <textarea class="form-control" rows="10" [(ngModel)]="notes"></textarea>
                } @else {
                    <p class="text-muted">
                        {{ notes() || 'Sem notas' }}
                    </p>
                }

            </div>
        </div>

    </div>

    <!-- SAVE -->
    @if (editMode()) {
        <div class="mt-4 text-end">
            <button class="btn btn-primary px-4" (click)="save()">
                💾 Salvar
            </button>
        </div>
    }

</div>
